<div class="d-flex flex-column justify-content-center align-items-center">
  <%= image_tag "default_profile_picture.png", class: "img-thumbnail rounded-circle border border-2 border-primary", style: "width: 3.4rem" %>
<small style="max-width:3.4rem; overflow: hidden;white-space: nowrap; text-overflow: ellipsis">Username is gabriel</small>

</div>